
body {
  font-family: 'Figtree', 'Gloock', Helvetica, sans-serif;
  background-color: rgba(255, 255, 255, 0.14);
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}