.gridContainer {
  width: 100%;
  display: grid;
  height: 400px;
  align-items: center; 
  padding: 0 150px 0 150px;
  grid-template-columns: 1.5fr 1fr; 
  gap: 20px;
background-image: url('/images/banner.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  margin: 20px;
  padding: 0;
  font-size: 4em;
  padding-top: 70px;
  text-align: left;
  color: rgb(255, 255, 255);
}

.text{
  margin: 20px;
  margin-top: 10px; 
  max-width: 600px;
  font-size: 1.3em;
  font-weight: 500;
  text-align: left;
  color: rgb(255, 255, 255);
}