<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja</title>
    <style>
        #produto_1, #produto_2 {
            display: inline-block;
            margin: 20px;
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 10px;
            text-align: center;
        }
        img { width: 200px; height: 200px; cursor: pointer; }
        button { margin-top: 10px; padding: 10px 20px; cursor: pointer; }
    </style>
</head>
<body>
    <h1>Loja</h1>

    <div id="produto_1">
    <img src="/meu_projeto/meu_projeto/Templates/src/1xg.avif" alt="Fone de Ouvido">
    <button onclick="window.location.href='https://www.mercadopago.com.br/checkout/v1/redirect?pref_id=2928109417-e544562d-6951-49bb-a3df-5600a1ffa815'">
        Comprar
    </button>
</div>

<div id="produto_2">
    <img src="/meu_projeto/meu_projeto/Templates/src/Amazon Basics headphones 81Y9yeSNuSL._SL1500_.jpg" alt="Carregador">
    <button onclick="window.location.href='https://www.mercadopago.com.br/checkout/v1/redirect?pref_id=2928109417-9f4b7594-9f23-4910-95cb-434f133577ef'">
        Comprar
    </button>
</div>


</body>
</html>
